{% extends "./layouts/main.html" %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <div class="p-5"></div>
      <h3><b>Hasil Diagnosa</b></h3>
      <hr>
      
      <h6>Pasien : </h6>
      <table id="" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID Konsultasi</th>
            <th>Nama</th>
            <th>Umur</th>
            <th>Alamat</th>
            <th>Tanggal</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[6] }}</td>
          </tr>      
          {% endfor %}    
        </tbody>
      </table>

      <!-- <a href="/penyakit/add" class="btn btn-md btn-primary">Tambah Penyakit</a> -->
      <!-- <br> -->
      <table id="" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Gejala Terpilih</th>
          </tr>
        </thead>
        <tbody>
          {% for row in gejala %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <!-- <br> -->
      {% for row in data %}
        {% if row[7] == 'P005': %}
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">{{ row[4] }}</h4>
            <p>{{ row[5] }}</p>
            <hr>
            <p class="mb-0">Segera Hubungi Dokter.</p>
          </div>
        {% else: %}          
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">{{ row[4] }}</h4>
            <p>Dengan akurasi(Kemungkinan) : {{ row[8] }} %</p>
            <p>{{ row[5] }}</p>
            <hr>
            <a href="/laporan/cekobat/{{ row[8] }}" class="btn btn-md btn-app">Cek Pengobatan</a>
          </div>
        {% endif %}
      {% endfor %}
      
      <button onclick="return window.print()" class="btn btn-app">Cetak</button>
    </div>
  </div>
{% endblock %}