{% extends "./layouts/main.html" %}
{% block content %}
  <div class="container">
    <div class="col-md-12">
      <div class="p-5"></div>
      <h3>Data Solusi</h3>
      <hr>

      <br><br>
      <table id="basic-table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Penyakit</th>
            <th>Pengobatan</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
            <tr>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}.