{% extends "./layouts/main.html" %}
{% block content %}
  <div class="container">
    <div class="p-5"></div>
    <h3>Ubah Pengobatan</h3>
    <hr>
    <div class="col-md-12">  
      
      {% for row in data %}
      <form action="/pengobatan/update/{{ row[0] }}" method="POST">
        <div class="form-group">
          <label for="">Kode Pengobatan : </label>
          <input type="text" name="kode_pengobatan" value="{{ row[0] }}" readonly required placeholder="ID" class="form-control">
        </div>
          <div class="form-group">
          <label for="">Pengobatan : </label>
          <input type="text" name="nama_pengobatan" value="{{ row[1] }}" required placeholder="pengobatan" class="form-control">
        </div>
        <button type="submit" class="btn btn-app">Simpan</button>
      </form>
      {% endfor %}
    </div>
  </div>
{% endblock %}