{% extends "./layouts/main.html" %}
{% block content %}

  <h1 class="text-center">Update Data</h1>
  <div class="container">
    {% for row in data %}
      <form action="/update/{{ row[0] }}" method="POST">
        <label for="">Username : </label> <br>
        <input type="text" name="username" required value="{{ row[1] }}" class="form-control">
        <br>
        <label for="">Password</label> <br>
        <input type="text" name="password" required value="{{ row[2] }}" class="form-control">
        <br>
        <label for="">Level</label> <br>
        <input type="number" name="level" required value="{{ row[3] }}" class="form-control">
        <br>
        <button type="submit" class="btn btn-primary btn-md">Update Data</button>
      </form>
    {% endfor %}
  </div>
{% endblock %}